POSTGRES_USER=WRITE_YOUR_POSTGRES_DB_USER
POSTGRES_HOST=WRITE_YOUR_POSTGRES_DB_HOST
POSTGRES_PASSWORD=WRITE_YOUR_POSTGRES_DB_PASSWORD
POSTGRES_PORT=WRITE_YOUR_POSTGRES_DB_PORT
POSTGRES_DRIVER=WRITE_YOUR_POSTGRES_DB_DRIVER
POSTGRES_DB=WRITE_YOUR_POSTGRES_DB_NAME